.productList__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 6rem;
}

.productList__navigation {
  padding: 0em 6rem;
}

.searchInput {
  width: 25ch;
  margin-bottom: 5px;
}

.selectInput {
  width: 200px;
  margin-bottom: 5px;
}

.product__card {
  width: 345px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1000px) {
  .productList__navigation {
    padding: 0em 2rem;
  }
  .productList__navigation-container {
    align-items: center;
    flex-direction: column;
  }
  .productList__selectInputs {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .searchInput {
    width: 100%;
  }
  .selectInput {
    width: 100%;
  }
  .productList__cards {
    padding: 2rem;
  }
}

@media screen and (max-width: 890px) {
  .productList__cards {
    flex-direction: column;
    align-items: center;
  }
  .product__card {
    width: 100%;
    margin-bottom: 20px;
  }
}
