.offer {
  font-size: 16px;
  margin-top: 10em;
}

.offer__header {
  text-align: center;
  padding: 4em 6em;
}

.offer__header h2 {
  font-size: 5em;
  font-weight: 500;
  margin-bottom: 0.3em;
}

.offer__header p {
  line-height: 2em;
  margin-bottom: 1em;
}
